.login-page {
    width: 400px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    transform: translateY(-50%);

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .des {
        position: relative;
        color: #b8b8b8;
        height: 22px;
        font-size: 14px;
        margin-bottom: 24px;

        &::before {
            content: '';
            border-top: 1px solid #b8b8b8;
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
        }

        >span {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 20px;
            background-color: #fff;
            line-height: 22px;
        }
    }

    .google-btn {
        display: flex;
        flex: 1;
        align-items: center;
        margin: 0 auto 20px;
        font-size: 16px;
        width: 320px;
        height: 52px;
    }

    .google-txt {
        font-size: 16px;
        color: rgb(45, 51, 58);
    }

    .google-icon {
        width: 20px;
        height: 20px;
        margin-right: 16px;
        background-size: 722% 638%;
        background-image: url(../../static/images/google.png);
        background-position: 83% 5%;
    }

    .office-icon {
        width: 20px;
        height: 20px;
        margin-right: 16px;
        background-size: 100% 100%;
        background-image: url(../../static/images/office.png);
        background-position: 0 0;
    }

    .login-form {
        width: 100%;
        font-size: 16px;

        .ant-form-item {
            width: 320px;
        }

        input {
            width: 320px;
            height: 42px !important;
            font-size: 16px;
        }

        button {
            width: 320px;
            height: 52px;
            font-size: 16px;
        }
    }

    .login-form-button {
        width: 100%;
    }
}