$headerHeight: 84px;

.email-detail {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    &-header {
        min-height: $headerHeight;
        padding-top: 10px;
        padding-bottom: 10px;

        &-subject {
            display: flex;
            margin-bottom: 10px;

            &-title {
                font-size: 32px;
                color: rgba(0,0,0,0.9);
                font-weight: 500;
                line-height: 40px;
                padding-right: 20px;
            }
            
            &-actions {
                font-size: 24px;
                cursor: pointer;

                &:hover {
                    background-color: #efefef;
                }
            }
        }

        &-actions {
            display: flex;
            align-items: center;

            &-item {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                background-color: #f8f8f8;
                border: 1px solid #ddd;
                margin-left: 10px;
                line-height: 24px;
                text-align: center;

                &:hover {
                    background-color: #e9e9e9;
                    cursor: pointer;
                }
            }
        }

        &-summary {
            display: flex;

            &-account {
                flex:  1;
                padding-left: 10px;
                padding-right: 10px;

                &-sender {
                    line-height: 24px;
                    font-size: 16px;
                    font-weight: 500;
                    color: rgba(0,0,0,0.9);
                }

                &-receiver {
                    line-height: 22px;
                    font-size: 14px;
                    color: rgba(0,0,0,0.6);

                    > span {
                        color: rgba(0,0,0,0.9);
                        margin-right: 5px;
                    }
                }
            }

            &-date {
                color: rgba(0,0,0,0.6);
                display: flex;
                align-items: center;
            }
        }
    }

    &-body {
        // height: calc(100% - $headerHeight);
        flex: 1;
        overflow: auto;
    }
}