.downloads {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-body {
        flex: 1;
        overflow: auto;
        background-color: #f8f8f8;
        padding: 32px;
    }

    &-main {
        padding: 32px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;

        &-header {
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            width: 100%;

            &-filters {
                flex: 1;
            }
        }
    }

    &-date-range {
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.9);

        > span {
            display: inline-block;
            width: 4em;
            color: rgba(0,0,0,0.6);
        }
    }
}