.email-list {
    width: 360px;
    // overflow: auto;
}
.email-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #f8f8f8;
    }

    &-avatar {
        padding-right: 8px;
        padding-left: 20px;
        margin-top: -28px;
    }

    &-detail {
        flex: 1;
        overflow: hidden;

        &-sender {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 5px;

            &-name {
                flex: 1;
                font-size: 14px;
                line-height: 22px;
                color: rgba(0,0,0,0.9);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-tag {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        &-extra {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 20px;
            color: rgba(0,0,0,0.6);

            &-type {
                flex: 1;
                max-width: 10em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &-date {
                flex: 1;
                text-align: right;
                padding-right: 10px;
            }
        }
    }

    &:last-of-type {
        border-bottom: none;
    }

    &.active {
        background-color: #009CFC;
        cursor: default;

        .email-item-detail-sender-name,
        .email-item-detail-extra {
            color: #fff;
        }
    }

    .show-hover {
        display: none;
    }

    &:hover {
        .show-default {
            display: none;
        }

        .show-hover {
            display: inline-block;
        }
    }
}