$headerHeight: 64px;
$borderColor: #ddd;

.page-header {
    height: $headerHeight;
    border-bottom: 1px solid $borderColor;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

    &-center {
        flex: 1;
        text-align: center;
    }

    &-logo {
        text-align: right;
        display: flex;
        align-items: center;
    }

    &-user-name {
        margin-left: 8px;
        padding: 2px 4px;

        &-arr {
            display: inline-block;
            width: 24px;
            height: 24px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 10px;

            &:hover {
                background-color: #f8f8f8;
            }
        }
    }

    &-nav {
        display: inline-block;
        padding: 5px 10px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px;
        color: rgba(0,0,0,0.9);
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #f8f8f8;
        }

        &.active {
            background-color: #228be6;
            color: #fff;
            cursor: default;
        }
    }
}